@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Dosis:wght@300&display=swap');


body{
background-color:sandybrown;
font-family: 'Baloo Bhaijaan 2', cursive;
font-family: 'Dosis', sans-serif;
}

.container{
display: block;
    background-color: whitesmoke;
    width: 50%;
    margin: auto;
     padding-bottom: 2rem;
}
.heading{
    text-align: center;
}
input{
    border-radius: 0.25rem;
    margin-bottom: 2rem;
}
.check-btn{
    display: block;

}
p{
    text-align: center;
    background-color: darkseagreen;
}